<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <div class="userInput">
          <form action="">
            <input id="userInput" type="text" placeholder="Enter your URL" />
            <button id="submit" type="submit">Submit</button>
          </form>
        </div>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results">
          <div id="text"></div>
          <div id="agreement"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
