<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- <link rel="stylesheet" href="../styles/styles.css" />
    <script src="../index.js" type="module">

    </script> -->

    <title>Travel-App</title>
  </head>

  <!-- body -->
  <body>
    <header>
      <!-- Image and text -->

      <nav class="navbar">
        <!-- <a class="navbar-brand" href="#">
      </a> -->
        <h1>Travel Planner</h1>
      </nav>
    </header>

    <section class="CurrentTrip">
      <!-- <img /> -->
      <div id="userInteractive">
        <!-- // User input for Country departure -->
        <form id="userForm" action="">
          <p>City :</p>
          <input id="cityInput" type="text" placeholder="Enter city" />
          <br />
          <p>Country :</p>
          <input id="countryInput" type="text" placeholder="Enter country" />
          <br />
          <p>Date of start trip :</p>
          <input
            id="departDateInput"
            type="text"
            placeholder="enter date: e.g: 01/23/22"
          />
          <br />
          <p>Date of end trip :</p>
          <input
            id="endDateInput"
            type="text"
            placeholder="enter date: e.g: 01/30/22"
          />
          <br />
          <button id="submit" type="submit">Save Trip</button>
          <button id="delete" type="submit">Delete Trip</button>
        </form>
      </div>
      <div id="temp_text">
        <p class="travel" id="departCountry">My trip to:</p>
        <p class="travel" id="departTime">Departing:</p>

        <div class="picture" id="picture"></div>
        <p class="travel" id="tripLength">Your trip duration is...</p>
        <p class="weather">Typical weather for then is...</p>
        <p class="weather" id="weatherData">High and low temps of...</p>
        <p class="weather" id="weatherSummary">Weather will be like...</p>
      </div>
    </section>

    <script>
      // // Check that service workers are supported

      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
